{% extends "layout.html" %}
{% block content %}
    <div class="profile-page">
        <div class="profile-info">
            <img src="{{ url_for('static', filename='Profile/default.jpeg') }}" alt="Profile Image">
            <h2>{{ current_user.username }}</h2>
            <h6>{{ current_user.email }}</h6>
            <p>Here you can manage your profile.</p>
            <a href="{{ url_for('profile') }}" class="btn">Edit Profile</a>
        </div>

        <div class="saved-presentations">
            <h2>Your Saved Presentations</h2>
        </div>
    </div>
{% endblock content %}
